{% extends "shop/layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

            <div class="success"> La réservation a bien été effectuée !</div></br>

           <center>
            L'équipe  du Musée du Louvre vous remercie pour votre commande.</br>
            Vos billets viennent de vous être envoyés sur votre boîte mail : {{ booking.email }}.</br>
            Votre numéro de commande est : {{ booking.code }}.</br>

       A très bientôt !  </br> </br>
<div class="center">  <img class="img-circle img-responsive" width="350px"
                           src="{{ asset('images/louvre2.jpg') }}"></div>

           </center>
{% endblock %} 